* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(16, 9, 5, 0.564), rgb(83, 83, 53));
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50vh;
    width: 50vw;
    background-color: rgba(244, 194, 157, 1);
    border: 2px solid red;
    border-radius: 60%;
}

.title {
    margin-bottom: 70vh;
    color: cornflowerblue;
}

.eyebrow {
    position: absolute;
    top: 6vh;
    left: 9vw;
    height: 10vh;
    width: 10vw;
    border-top: 3px solid black;
    border-radius: 50%;
}

.eye {
    position: absolute;
    top: 8vh;
    left: 9vw;
    height: 10vh;
    width: 10vw;
    border: 2px solid black;
    border-radius: 50%;
    background: rgba(240, 240, 245, 1);
}

.pupils {
    position: absolute;
    top: 8.4vh;
    left: 12.5vw;
    border-radius: 50%;
    height: 9.5vh;
    width: 3vw;

    background: rgba(0, 0, 0, 1);

}

.iris {
    position: absolute;
    top: 10vh;
    left: 13vw;
    border: 2px solid white;
    border-radius: 50%;
    height: 5vh;
    width: 2vw;
    background: rgba(85, 107, 47, 1);
}

.again {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 26vh;
    right: 56vw;
}

.nose {
    width: 0;
    height: 0;
    border-left: 5vw solid transparent;
    border-right: 5vw solid transparent;
    border-bottom: 5vh solid black;
    position: absolute;
    top: 45vh;
    left: 44vw;
}

.lips {
    width: 15vw;
    height: 10vh;
    background: #e60044;
    border-radius: 50% / 100%;
    position: absolute;
    top: 58vh;
}

.innerlips {

    width: 13vw;
    height: 8vh;
    background: black;
    border-radius: 90% / 100%;
    position: absolute;
    left: 1vw;
    top: 0.9vh;

}
.eye:hover {
  transform: scale(1.05);
}
